.animal{
    border: 2px solid gray;
    box-shadow: 0.2em 0.2em 0.2em ;
    padding: 0.5em;
    border-radius: 0.5em;
    animation: rotate 2s linear infinite;
    display: grid;
    grid-template-areas: 
    "icone nome nome" 
    " icone peso peso" 
    "icone . extincao";
    align-items: center;

    width: 100%;
}
.animal .icone{
    font-size: 5em;
    font-weight: bold;
    width: 100%;
    height: 100%;
    grid-area: icone    ;
}
.animal  .nome{
    font-size: 1.2em;
    padding: 1em;
    grid-area: nome    ;
    text-align: center;
}
.animal .peso{
    
    font-size: 1em;
    padding: 1em;
    grid-area: peso    ;
    text-align: center;

}
.animal .extincao{
    background-color: red;
    color: white;
    padding: 1.2em;
    border-radius: 10px;
    grid-area: extincao    ;
    justify-self: center;

}
