.Exibicao{
    font-weight: 900;
    padding: 1em;
    display: grid;
    grid-template-areas: 
    
    'inicio fim local'
    'animais animais animais';
    place-items: center;
    
    .inicio{
        width: 100%;
        color: green;
        grid-area: inicio;
    }
    .fim{
        color: red;
        grid-area: fim;
    }
    .local{
        width: 100%;

        text-decoration: underline;
        grid-area: local;
    }
    .animais{
        grid-area: animais;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}